.card {
    // width: calc(100dvw / 5);
    width: calc((100cqw - 4rem) / 4);
    height: calc((100cqw - 4rem) / 4);
    object-fit: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 1px solid #000;
    border-radius: 1rem;
    background-color: #fff;
    cursor: pointer;

    &_hidden {
        background-color: yellow;

        &.card_disabled {
            background-color: rgb(170, 170, 65);
        }
    }

    &_disabled {
        cursor: inherit;
    }
}

.card__image {
    width: 100%;
}