.game-field {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, min-content);
    gap: 1rem;
    container-type: inline-size;
    padding: 1rem;
    background-color: rgb(229, 201, 191)
}