.header {
    background-color: #6dd05b;
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.header__btn {
    background-color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    font-size: 2rem;
}